*{
	margin: 0;
	padding: 0;
	
	font-family: 'Kumbh Sans', sans-serif;
	box-sizing: border-box;
}

.navbar{
	
	position: fixed;
	background-color:transparent;
	text-align: center;
	width: 100%;
	padding: 5px 0;
	top: 0;
	z-index: 999;
	transition: .3s linear;
	border-radius: 10px;
}

.inner-width{
	max-width: 1300px;
	margin: auto;
	padding: 0 10px; 
}

.navbar .inner-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.logo-row{
	display: flex;
	width: auto;
	height: auto;
	font-size: 25px;
	color: rgb(0, 0, 50);
	align-items: center;
	background-color:rgb(255, 255, 255); /*couleur fond logo (.png)*/
	margin: 5px;
	border-radius: 10px;
	z-index: 999;
}
.logo-row i{
	margin-left: 10px;
	margin-right: 10px;
}

.menu-toggler{
	background: none;
	width: 30px;
	border: none;
	cursor: pointer;
	position: relative;
	outline: none;
	z-index: 999;
	display: none;
}
.menu-toggler span{
	display: block;
	height: 3px;
	background-color: white; /*bouton 3 barres navigation (ecran reduit)*/
	margin: 6px 0;
	position: relative;
	transition: .3s linear;
}
#actu .menu-toggler span{ /*page actu (fond blanc donc navbar noir)*/
	background-color: black;
}

.navbar-menu a{
	position: relative;
	color: white;
	font-size: 22px;
	font-weight: 500;
	padding: 5px;
	text-decoration: none;
	margin-left: 30px;
	margin-bottom: 10px;
	transition: .2s linear;
}
#actu .navbar-menu a{
	color: black;
}
.navbar-menu a:before { /*soulignage partant du milieu*/
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color:white;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.2s ease-in-out;
}
#actu .navbar-menu a:before{
	background-color: black;
}

.navbar-menu a:hover:before {
	visibility: visible;
	transform: scaleX(1);
}


.sticky{
	background-color:rgb(255, 255, 255); /*couleur navbar defilante*/
	padding: 10px 0;
	border-bottom: solid 3px;
}

.sticky .navbar-menu a:before{
	background-color: black;
}
  
.sticky .navbar-menu a{
	color: black;
}
.sticky .logo-row{
	background-color: transparent;
}
  
.sticky .menu-toggler span{
	background-color: black;
}



@media screen and (max-width: 900px){ /*partie ecran reduit	*/
	.menu-toggler{
	  	display: block;
	}
	
	.navbar-menu{
	  	position: fixed;
	  	height: auto;
	  	width: 100%;
		background-color:rgb(255, 255, 255);
		border-bottom: solid 3px;
		border-radius: 20px;
	  	top: 0;
	  	right: -100%;
	  	max-width: 400px;
	  	padding: 10px 50px 20px;
	  	transition: .3s linear;
	}
	
	.navbar-menu a{
		display: block;
		color: black;
	  	font-size: 30px;
	  	margin: 30px 0;
	}
	.navbar-menu a:before {
		background-color:black;
	}
	
	.navbar-menu.active{
	  	right: 0;
	}
	.sticky .navbar-menu{
		background-color: rgb(255, 255, 255);
	}

	.menu-toggler.active span{
		background-color: black;
	}

	.menu-toggler.active span:nth-child(1){
	  	transform: rotate(-45deg);
	  	top: 4px;
	}
	
	.menu-toggler.active span:nth-child(2){
		transition: none	;
	  	opacity: 0;
	}
	
	.menu-toggler.active span:nth-child(3){
	  	transform: rotate(45deg);
	  	bottom: 14px;
	}
}

@media screen and (max-width: 580px){ /*partie ecran reduit mobile	*/
	
	.navbar-menu{
		padding-top: 80px;
	}
}


/*Home Page*/

#home{
	height: 100vh;
	min-height: 500px;
	background: url(../image/FondAviron3.jpg) no-repeat center;
	background-size: cover; /*ou contain*/
	background-attachment: fixed;
}

#home .inner-width{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	text-align: center;
}

#home .content{
	width: auto;
	color: white;
}

#home .content h1{
	font-size: 60px;
	margin-bottom: 50px;
	-webkit-text-stroke: 2px black;
	transition: .2s linear;
	position: relative;
	cursor: default;
}
#home .content h1:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: white;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.4s ease-in-out;
}
#home .content h1:hover:before{
	visibility: visible;
	transform: scaleX(1);
}

.rs a{
	text-decoration: none;
	color: white;
	font-size: 28px;
	margin: 0 22px 22px 22px;
	transition: .2s linear;
}

.instagram:hover{
	color: #FF6A56;
}	

.facebook:hover{
	color: #4064ACFF;	
}

.mail:hover{
	color: #fc0000;	
}

#home .cy-buttons{
	display: inline-block;
	border-radius: 10px;
	transition: .2s linear;
	background-color: rgba(245, 245, 245, 0.6);
}

#home .cy-buttons:hover{
	background-color: rgb(245, 245, 245);
	color: black;
}

footer{
	height: 20vh;
	border-top: 5px solid #07343b;
	z-index: 100000;
}


footer ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	list-style-type: none;
}

footer li{
	margin: 4vh 15px;
}
#contact footer{
	border-top: 5px solid rgba(71, 71, 71, 0.76);
	background-color: rgba(255, 255, 255, 0.70);
}
#contact{
	background: url(../image/FondAviron5.jpg) center;
	background-size: cover;
}
.CMut{
	height: 100px; 
	margin: 5px;
}

@media screen and (max-width: 550px){
	.CMut{
		height: 40px; 
		margin: 5px;
	}
}

/*Actu*/

.container{
	font-size: 20px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.box-actu{
	display: flex;
	margin: 20px;
	padding: 10px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex: 1;
	border-top: solid 1px;
}
.box-actu:nth-child(2n){
	flex-direction: row-reverse;
}
.box-actu h2{
	margin-bottom: 5px;
}
.box-actu .actu-footer{
	font-size: 13px;
	margin-top: 4px;
	text-align: right;
}

.cadre-image{
	width: 100%;
	margin: 30px;
	max-width: 400px;
}
.image{
	border-radius: 5%;
	width: 100%;
	height: 100%;
	max-height: 500px;
	object-fit: contain;
	object-position: center;
}

@media screen and (max-width: 1000px){
	.container{
		margin-top: 50px;
		padding: 40px 20px;
	}
	.box-actu{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
	.box-actu:nth-child(2n){
		flex-direction: column;
	}
	.cadre-image{
		margin: 0;
	}
	.image{
		margin-right: auto;
		margin-left: auto;
	}
	.box-actu h2{
		margin-top: 20px;
	}

}


.init-day{
	flex-direction: column;
}

.init-day-pic{
	align-items: center;
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
}

/*Entrainement*/

.cadre-image-train{
	width: 100%;
	margin: 30px;
	max-width: 650px;
}
.train-image{
	border-radius: 5%;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}


/*Contact*/

.contact-cards{
	height: 79vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	transition: .2s linear;
	flex-wrap: wrap;
	padding-top: 80px;
}

.profile-card:nth-child(1){order: 3;} /*Camille*/
.profile-card:nth-child(2){order: 4;} /*Antoine*/
.profile-card:nth-child(3){order: 5;} /*Thomas V*/
.profile-card:nth-child(4){order: 1; background-color: rgba(0, 0, 0, 0.7);} /*Thomas C*/
.profile-card:nth-child(5){order: 2;} /*Cyprien*/


@media screen and (max-width: 900px){
	.contact-cards{
		height: auto;
		flex-direction: column;
	}
}
@media screen and (max-width: 1360px){
	.contact-cards{
		height: auto;
	}
}


.profile-card{
	display: inline-block;
	width: 250px;
	height: 350px;
	text-align: center;
	border-radius: 6px;
	overflow: hidden;
	background: rgba(69, 70, 73, 0.7);
	padding: 20px 15px;
	margin: 10px;
	transition: .2s linear;
}
.profile-card:hover{
	transform: scale(1.1);
}




#thomas-card .img{
	display: inline-block;
	padding: 5px;
	background: linear-gradient(rgba(5, 100, 25, 0.85), rgba(136, 19, 19, 0.85));
	margin: auto;
	border-radius: 45%;
	background-size: 200% 200%;
	animation: cadre-anime 2s linear infinite;
}
#camille-card .img{
	display: inline-block;
	padding: 5px;
	background: linear-gradient(rgba(240, 240, 240, 0.85), rgba(43, 24, 0, 0.85));
	margin: auto;
	border-radius: 45%;
	background-size: 200% 200%;
	animation: cadre-anime 2s linear infinite;
}

#antoine-card .img{
	display: inline-block;
	padding: 5px;
	background: linear-gradient(rgba(141, 137, 137, 0.85), rgba(255, 255, 255, 0.85));
	margin: auto;
	border-radius: 45%;
	background-size: 200% 200%;
	animation: cadre-anime 2s linear infinite;
}
#cyprien-card .img{
	display: inline-block;
	padding: 5px;
	background: linear-gradient(#f5e3d1, rgba(3, 196, 255, 0.699));
	margin: auto;
	border-radius: 45%;
	background-size: 200% 200%;
	animation: cadre-anime 2s linear infinite;
}
#thomas-v-card .img{
	display: inline-block;
	padding: 5px;
	background: linear-gradient(rgba(69,127,165, 0.7), rgba(236, 221, 189, 0.699));
	margin: auto;
	border-radius: 45%;
	background-size: 200% 200%;
	animation: cadre-anime 2s linear infinite;
}
@keyframes cadre-anime{
	25%{
		background-position: left bottom;
	}
	50%{
		background-position: right bottom;
	}
	75%{
		background-position: right top;
	}
	100%{
		background-position: left top;
	}
}

.img img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 45%;
}

.nom{
	color:white;
	font-size: 25px;
	font-weight: 600;
	margin: 10px 0;
}
.descr{
	color: white;
	font-size: 22px;
	font-weight: 500;
	margin: 10px 0 30px;
}
