Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@Bapt-M 
Bapt-M
/
Cy-row-Site
Private
1
00
Code
Issues
Pull requests
Actions
Projects
Security
Insights
Settings
Cy-row-Site
/
css
/
style.css
 

Tabs

8

No wrap
1
*{
2
        margin: 0;
3
        padding: 0;
4
        text-decoration: none;
5
        font-family: 'Kumbh Sans', sans-serif;
6
        box-sizing: border-box;
7
}
8
​
9
.navbar{
10
        position: fixed;
11
        background-color:transparent;
12
        text-align: center;
13
        width: 100%;
14
        padding: 5px 0;
15
        top: 0;
16
        z-index: 999;
17
        transition: .3s linear;
18
        border-radius: 10px;
19
}
20
​
21
.inner-width{
22
        max-width: 1300px;
23
        margin: auto;
24
        padding: 0 10px; 
25
}
26
​
27
.navbar .inner-width{
28
        display: flex;
29
        align-items: center;
30
        justify-content: space-between;
31
}
32
​
33
​
34
.logo-row{
35
        display: flex;
36
        width: auto;
37
        height: auto;
38
        font-size: 25px;
39
        color: rgb(0, 0, 50);
40
        align-items: center;
41
        background-color:rgb(255, 255, 255); /*couleur fond logo (.png)*/
42
        margin: 5px;
43
        border-radius: 10px;
44
        z-index: 999;
45
}
@Bapt-M
Commit changes
Commit summary
Update style.css
Optional extended description
Add an optional extended description…
 Commit directly to the master branch.
 Create a new branch for this commit and start a pull request. Learn more about pull requests.
 
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
